@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../font/n.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(../font/i.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../font/bn.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(../font/bi.woff) format('woff');
}
body {
  font:16px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-weight:300;
}
html, body, #container, #sidebar, #content{
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
  font:16px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  font-size:28px;
  font-weight: bold;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
  font-weight: bold;
}


#logo{
    margin-bottom: 20px;
}

#logo h1{
    margin-bottom: 0px;
}

.nav-searchbar{
  margin-top: 3px;
}

.navbar-toolbar {
padding-top: 5px;
}

.nav-help a{
  font-weight: 300;
  color: #999999;
  font-size: 16px;
}

.favicon{
  margin-top: -3px;
  width: 16px;
  height: 16px;
}
#explore-btn{
/*    border-radius: 0;
margin-bottom: 0px;
background: none;
border-right: none;*/
text-align: center;
margin-bottom: 1px;
}
/*
#explore-btn:focus{
  border-color: #dcdcdc;
}*/
.scrollable::-webkit-scrollbar{
    width: 3px;
}
#sidebar{
    border-right: 1px solid #dddddd;
    /*min-width: 200px;*/
    padding-right: 0;
    padding-left:0;
}
#sidebar .list-group{
    height: -webkit-calc(100% - 175px);
    overflow-y: auto;
}

#sidebar .list-group-item{
    border-right:none;
}

#sidebar .list-group-item:first-child,
#sidebar .list-group-item:last-child  {
border-top-right-radius: 0px;
border-top-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
}

#content-container{
  overflow: hidden;
height: 100%;
}

#content .panel{
  padding-right: 30px;
  padding-left: 50px;
}

.unactive-panel .panel-heading{
font-size: 24px;
font-weight: 800;
}

.panel-heading a{
color: black;
}
.has-read-panel a{
  color: #999999;
}
.active-panel .panel-heading, 
.has-read-panel .panel-heading{
font-size: 24px;
font-weight: 300;
}
.active-panel{
border-left-color: #3d9ae8;
border-left-width: 2px;
margin-left: -1px;
color: black !important;
}
.active-panel a{
  color: black !important;
}
.panel-default > .panel-heading,
.panel-default > .panel-footer{
    background-color: white;
}

.panel,
.panel-heading,
.panel-footer{
    border-radius: 0px;
}
.panel-primary > .panel-footer {
color: #ffffff;
background-color: #428bca;
border-color: #428bca;
}

.btn{
  border-radius: 0;
}

.badge{
  margin-top: 5px;
  border-radius: 0;
}

#content{
    overflow-y: auto;
}

#sidebar .popover{
  min-width: 365px;
}