@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../font/n.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(../font/i.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../font/bn.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(../font/bi.woff) format('woff');
}
body {
  font:16px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-weight:300;
}
html, body, #container, #sidebar, #content{
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
  font:16px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  font-size:28px;
  font-weight: bold;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
  font-weight: bold;
}


#logo{
    margin-bottom: 20px;
}

#logo h1{
    margin-bottom: 0px;
}

.nav-searchbar{
  margin-top: 3px;
}

.navbar-toolbar {
padding-top: 5px;
}

.nav-help a{
  font-weight: 300;
  color: #999999;
  font-size: 16px;
}

.favicon{
  margin-top: -3px;
  width: 16px;
  height: 16px;
}
#explore-btn{
/*    border-radius: 0;
margin-bottom: 0px;
background: none;
border-right: none;*/
text-align: center;
margin-bottom: 1px;
}
/*
#explore-btn:focus{
  border-color: #dcdcdc;
}*/
.scrollable::-webkit-scrollbar{
    width: 3px;
}
#sidebar{
    border-right: 1px solid #dddddd;
    /*min-width: 200px;*/
    padding-right: 0;
    padding-left:0;
    overflow-y: auto; 
}
#sidebar .list-group{
    /*height: -webkit-calc(100% - 175px);*/
    /*overflow-y: auto;*/
}

#sidebar .list-group-item{
    border-right:none;
}

#sidebar .list-group-item:first-child,
#sidebar .list-group-item:last-child  {
border-top-right-radius: 0px;
border-top-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
}

#content-container{
  overflow: hidden;
height: 100%;
}

#content .panel{
  padding-right: 30px;
  padding-left: 50px;
  overflow-x: hidden;
}

.unactive-panel .panel-heading{
font-size: 24px;
font-weight: 800;
}

.panel-heading a{
color: black;
}
.has-read-panel a{
  color: #999999;
}
.active-panel .panel-heading,
.has-read-panel .panel-heading{
font-size: 24px;
font-weight: 300;
}
.active-panel{
border-left-color: #3d9ae8;
border-left-width: 2px;
margin-left: -1px;
color: black !important;
}
.active-panel a{
  color: black !important;
}
.panel-default > .panel-heading,
.panel-default > .panel-footer{
    background-color: white;
}

.panel,
.panel-heading,
.panel-footer{
    border-radius: 0px;
}
.panel-primary > .panel-footer {
color: #ffffff;
background-color: #428bca;
border-color: #428bca;
}

.btn{
  border-radius: 0;
}

.badge{
  margin-top: 5px;
  border-radius: 0;
}

#content{
    overflow-y: auto;
}

#sidebar .popover{
  min-width: 365px;
  z-index: -1;
}

#sidebar .popover.in{
    z-index: 1;
}

.feed-extra-info{
  margin-top: 14px;
  font-size: 13px;
}



/*plugin style*/
.user-plugin input{
  margin-bottom: 20px;
}





/*extra help class*/
.cursor-pointer{
  cursor: pointer;
}

#faq-modal{
  overflow-y: auto;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
margin-right: 0px;
}

.key {
background-color: #ebebeb;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0 1px 0 #d8d8d8;
box-shadow: 0 1px 0 #d8d8d8;
display: inline-block;
font-weight: 700;
padding: 5px 0;
text-align: center;
width: 28px;
font-size: .75em;
}



#content .panel:last-child {
margin-bottom: 500px;
}

/*spin stuff*/

#waiter{
  position: absolute;
  bottom: 0;
  display: none;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #5F88CA;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}




/*notifier*/
.notifier{
      /*width: 200px;*/
  display: none;
  position: absolute;
  z-index: 10000000;
  top: -5px;
  right: 50%;
  height: 35px;
  font-size: 13px;
  font-weight: bold;
}

#item-read-style{
  margin-left: -15px;
}
