{%extends "base.html"%}

{%block content%}
  <div id="sidebar" class="col-md-2">
    <div id="logo" class="text-center">
        <h1>Conureader</h1>
        <small class="text-muted"><em>the real world rss reader</em></small>
    </div>


    <a id="explore-btn" href="#" class="list-group-item" >Add Resource</a>


    <div id="subsribe-chooser" class="list-group scrollable">
        <span class="list-group-header">My SubScribes</span>

      <a  href="#" class="list-group-item sub-btn" ><span class="badge">141</span><i class="glyphicon glyphicon-th-list"></i> All Items</a>
      <a  href="#" class="list-group-item sub-btn" ><i class="glyphicon glyphicon-star"></i> Start Items</a>

      {% for site in sites%}
      <a href="#" class="list-group-item sub-btn" siteid={{site.id}}>
      <span class="badge">{{cur_user.get_unread_feeds_on_feedsite(site)}}</span>
      <img src="http://getfavicon.appspot.com/http://{{site.domain}}" class="favicon">
        {{site.title}}
      </a>
      {%endfor%}

    </div>
  </div>

  <div id="content-container" class="col-md-10">
  <div class="col-md-12">
      {%include "toolbar.html"%}

  </div>
  <div id="content" class="col-md-9 scrollable">
        {% for feed in feeds%}
        <div class="panel panel-default unactive-panel" feedid="{{feed.id}}" feedsiteid="{{feed.feedsite.id}}">
          <div class="panel-heading">{{feed.title}}</div>
          <div class="panel-body">
            {{feed.content|safe}}
          </div>
          <div class="panel-footer article-controller">
            <a  href="#" class="star" style="color:black;font-size: 20px;">
              <i class="glyphicon glyphicon-star-empty"></i> 
            </a>
          </div>
        </div>
        {%endfor%}
  </div>



  <div id="plugins" class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Panel heading without title</div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>

  </div>


{%endblock%}

{%block js%}
<script type="text/javascript">




</script>

<script type="text/template" id="">




</script>




{%endblock%}








