{%extends "base.html"%}

{%block content%}
  <div id="sidebar" class="col-md-2">
    <div id="logo" class="text-center">
        <h1>Conureader</h1>
        <small class="text-muted"><em>the real world rss reader</em></small>
    </div>
    <button id="explore-btn" type="button" class="btn btn-default btn-lg btn-block">
        Add Resource
    </button>

    <div class="list-group scrollable">
        <span class="list-group-header">My SubScribes</span>
        {% for i in range(15)%}
      <a href="#" class="list-group-item sub-btn" >
      <span class="badge">14</span>
        Cras justo odio
      </a>
      {%endfor%}
    </div>
  </div>

  <div id="content" class="col-md-10">
  <div class="col-md-12">
      {%include "toolbar.html"%}

  </div>
  <div id="content" class="col-md-9 scrollable">
        {% for i in range(20)%}
        <div class="panel panel-default">
          <div class="panel-heading">Panel heading without title</div>
          <div class="panel-body">
            Panel content
            Panel content

            Panel content
          </div>
          <div class="panel-footer">Panel footer</div>
        </div>
        {%endfor%}


  </div>

  <div id="plugins" class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Panel heading without title</div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>

  </div>


{%endblock%}
