<nav class="navbar navbar-toolbar" role="navigation">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
      <a href="#" class="btn btn-danger mark-all-as-read-btn">Mark all as read</a>
    </div>
    

    <div class="btn-group col-md-6" >
      <div class="col-md-8">
      <input id="search-input" type="text" class="form-control nav-searchbar" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
     

      <div id="item-read-style" class="btn-group">
        {%if cur_user.setting.unread_only%}
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="glyphicon glyphicon-align-justify"></i> Unread Only <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          {#<li class="option" unread="false"><a href="#"><span>All Items</span></a></li>#}
          <li class="option" unread="true"><a href="#"><i class="glyphicon glyphicon-ok choosed"></i><span>Unread Only</span></a></li>
        </ul>
        {%else%}
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="glyphicon glyphicon-align-justify"></i> All Items <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="option" unread="false"><a href="#"><i class="glyphicon glyphicon-ok choosed"></i><span>All Items</span></a></li>
          <li class="option" unread="true"><a href="#"><span>Unread Only</span></a></li>
        </ul>
        {%endif%}

      </div>
<!-- 

      <div class="btn-group ">
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
          Sortby <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="glyphicon glyphicon-ok"></i>Acquantances</a></li>
          <li><a href="#">Following</a></li>
        </ul>
      </div>

 -->

    <div class="btn-group col-md-3 pull-right" style="padding-right: 0;">
       <div class="btn-group nav-help">
        <a class="btn btn-link cursor-pointer" data-toggle="modal" data-target="#faq-modal">FAQ</a> 
        <a class="btn btn-link cursor-pointer" data-toggle="modal" data-target="#key-modal">Keyboard Shortcuts</a>
      </div>



<!--      
       <div class="btn-group pull-right">
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">Dropdown header</li>
          <li>
            <a href="#">
              <i class="glyphicon glyphicon-bookmark"></i> Bookmark
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#"><i class="glyphicon glyphicon-download"></i> Download</a>
          </li>
        </ul>
      </div> 
      -->


    </div>

  </div>
</nav>

<!-- Modal FAQ-->
<div class="modal fade" id="faq-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">FAQ</h4>
      </div>
      <div class="modal-body">
        <ul>
            <p>No question so far.</p>
            <p>connect me: zhy0216#gmail.com</p>

        </ul>
      </div>
    </div>
  </div>
</div>


<!-- Modal KEYBOARd-->
<div class="modal fade" id="key-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Keyboard Shortcuts</h4>
      </div>
      <div class="modal-body">
          <table>
            <tr>
              <td style="width: 180px;"><span class="key-des">Next Article</span></td>
              <td><span class="key">N</span></td>
            </tr>
          </table>
      </div>
    </div>
  </div>
</div>
