<nav class="navbar navbar-toolbar" role="navigation">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
      <a href="#" class="btn btn-danger">Mark All</a>
    </div>
    

    <div class="btn-group col-md-7" >
      <div class="col-md-7">
      <input id="search-input" type="text" class="form-control nav-searchbar" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
     

      <div class="btn-group">
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="glyphicon glyphicon-align-justify"></i> Unread Only<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <!-- <li><a href="#"><i class="glyphicon glyphicon-ok"></i></a></li> -->
          <li><a href="#"><i class="glyphicon glyphicon-ok"></i>All Items</a></li>
          <li><a href="#">Unread Only</a></li>
        </ul>
      </div>
<!-- 

      <div class="btn-group ">
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
          Sortby <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="glyphicon glyphicon-ok"></i>Acquantances</a></li>
          <li><a href="#">Following</a></li>
        </ul>
      </div>

 -->

    <div class="btn-group col-md-3 pull-right" style="padding-right: 0;">
       <div class="btn-group nav-help">
        <a class="btn btn-link" href="#">FAQ</a> 
        <a class="btn btn-link" href="#">Keyboard Shortcuts</a>
      </div>

<!--      
       <div class="btn-group pull-right">
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">Dropdown header</li>
          <li>
            <a href="#">
              <i class="glyphicon glyphicon-bookmark"></i> Bookmark
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#"><i class="glyphicon glyphicon-download"></i> Download</a>
          </li>
        </ul>
      </div> 
      -->


    </div>

  </div>
</nav>